/*
* 1. Responsiveness: Sets a maximum width relative to the parent and auto scales the height
* 2. Corrects `max-width` behavior if padding and border are used
* 3. Remove border when inside `a` element in IE 8/9/10.
* 4. Remove the gap between images and the bottom of their containers
*/

img {
 /* 1 */
 max-width: 100%;
 height: auto;
 /* 2 */
 box-sizing: border-box;
 /* 3 */
 border: 0;
 /* 4 */
 vertical-align: middle;
}

figure {
	margin:1em 0;
}

figcaption {
	color: $grey;
	font-size:0.9em;
}
