{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}
<div class="Cardlist">
  {% for recipe in text %}
    <article role="article" class="Card">
      <h3 class="Card-label">
        <a href="{{ path('entity.node.canonical', {'node': recipe.id}) }}" rel="bookmark">
          {{ recipe.title.value }}
        </a>
      </h3>
      <div class="Card-content">
        <p>{{ recipe.field_einleitung.value }}</p>
        <p class="Card-links">
          <a href="{{ path('entity.node.canonical', {'node': recipe.id}) }}">Weiterlesen</a>
        </p>
      </div>
    </article>
  {% endfor %}
</div>
