/**
 * Inspired by ITCSS from csswizardry.
 * http://csswizardry.net/talks/2014/11/itcss-dafed.pdf
 */
/**
 *
 */
@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-Bold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-italic.otf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Merriweather";
  src: url("fonts/merriweather/Merriweather-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "MerriweatherSans";
  src: url("fonts/merriweather-sans/MerriweatherSans-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MerriweatherSans";
  src: url("fonts/merriweather-sans/MerriweatherSans-Bold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "MerriweatherSans";
  src: url("fonts/merriweather-sans/MerriweatherSans-Italic.otf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "MerriweatherSans";
  src: url("fonts/merriweather-sans/MerriweatherSans-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

html {
  height: 100%; }

body {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Merriweather", "Georgia", serif;
  color: black;
  background-color: #fff;
  height: 100%; }

hr {
  margin: 3em 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "MerriweatherSans", impact, "Helvetica Neue", Helvetica, sans-serif; }

h1, .h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  color: #d35378; }

h2, .h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0em;
  color: #eb6909; }

h3, .h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  color: #a35494; }

h4, .h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: #483b89; }

h5, .h5 {
  font-size: 1em;
  font-weight: italic;
  margin-top: 0;
  margin-bottom: 0; }

a:link {
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px; }

a:link,
a:visited {
  color: #a35494; }

a:hover {
  background-color: #c895be;
  color: #fff; }

a:active {
  position: relative;
  top: 1px;
  left: 1px; }

h1 > a:link,
h2 > a:link,
h3 > a:link,
h4 > a:link {
  text-decoration: none;
  color: inherit; }

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  background-color: #c895be;
  color: #fff; }

ul, ol {
  padding-left: 1.2em; }

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0.5em; }

p {
  max-width: 40em; }

table, th, tr, td {
  text-align: left;
  vertical-align: top; }

td, th {
  padding-right: 2em; }

tr {
  border-top: 1px solid #aaa; }

/*
* 1. Responsiveness: Sets a maximum width relative to the parent and auto scales the height
* 2. Corrects `max-width` behavior if padding and border are used
* 3. Remove border when inside `a` element in IE 8/9/10.
* 4. Remove the gap between images and the bottom of their containers
*/
img {
  /* 1 */
  max-width: 100%;
  height: auto;
  /* 2 */
  box-sizing: border-box;
  /* 3 */
  border: 0;
  /* 4 */
  vertical-align: middle; }

figure {
  margin: 1em 0; }

figcaption {
  color: #aaa;
  font-size: 0.9em; }

.Logo {
  clear: both;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 1em;
  font-weight: bold;
  padding-top: 1em;
  margin-bottom: 1em; }

.Logo a:link,
.Logo a:visited {
  color: #483b89; }

.Logo-slogan {
  color: #fff;
  font-weight: normal; }

@media screen and (min-width: 30em) {
  .Logo {
    font-size: 1.6em; } }

.field--label-inline {
  clear: both; }

.field__label-inline {
  float: left;
  margin-right: 0.33em; }

.search-block-form {
  margin-bottom: 1em; }

.search-block-form h2 {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.search-block-form form {
  display: flex; }

.links.inline {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: right; }

.node-readmore {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.item-list > ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

.item-list > ul > li {
  display: inline-block;
  margin-bottom: 0.3em; }

.item-list > ul > li a {
  background-color: #a35494;
  color: #fff;
  border-radius: 1em;
  padding: 0.2em 0.6em; }

.u-silent:link {
  text-decoration: none; }

.Submitted {
  margin-top: 0.5em;
  color: #aaa; }

nav {
  font-family: "MerriweatherSans", impact, "Helvetica Neue", Helvetica, sans-serif; }

.menu {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0.9em;
  position: relative;
  clear: both; }

.menu > li {
  display: inline-block;
  vertical-align: middle; }

.menu > li > a {
  display: inline-block;
  text-decoration: none; }

.menu--toplevel {
  font-weight: normal;
  background-color: transparent;
  color: #483b89;
  font-size: 0.9em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2em; }

.menu--toplevel > li {
  padding-left: 0.5em;
  width: auto;
  display: inline-block; }

.menu--toplevel > li:first-child {
  padding-left: 0; }

.menu--toplevel > li > a:link,
.menu--toplevel > li > a:visited {
  color: #483b89; }

.menu--toplevel > .menu-item--active > a:link,
.menu--toplevel > .menu-item--active > a:visited {
  color: #483b89; }

.menu--toplevel > li > a:hover,
.menu--toplevel > .menu-item--active > a:hover {
  color: #fff; }

.menu--nested > li {
  display: block; }

@media screen and (min-width: 36em) {
  .menu--toplevel {
    font-size: 1em; }
  .menu--toplevel > li {
    width: auto;
    display: inline-block; } }

@media screen and (min-width: 54em) {
  .menu--toplevel {
    font-size: 1.1em; } }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.Main {
  flex: 1 0 auto; }

.header-group {
  padding-top: 0.5em;
  padding-bottom: 1em;
  float: left;
  z-index: 100;
  background-color: #f7f7f7;
  background-color: rgba(247, 247, 247, 0.9);
  display: flex;
  flex-wrap: wrap;
  left: 0;
  width: 100%;
  align-items: baseline;
  justify-content: space-between; }

.l-Container {
  position: relative;
  padding: 0 8px; }

.l-Menu--account {
  position: absolute;
  top: -1em;
  right: 0; }

@media screen and (min-width: 42em) {
  .l-Container {
    margin-left: auto;
    margin-right: auto;
    max-width: 54em;
    padding: 0; }
  .l-Menu--account {
    position: absolute;
    top: -1em;
    right: 0; } }

.Header {
  background-color: #a2daf3; }

.Footer {
  background-color: #aaa;
  color: #fff;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em; }

.Footer footer {
  font-size: 0.8em; }

.Footer a:link,
.Footer a:visited {
  color: #fff; }

.Region {
  outline: 1px dotted red;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em; }

.Region-name {
  background-color: red;
  color: white;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: relative;
  top: -0.5em;
  left: -0.5em; }

/**
 * Styles for system messages.
 */
.messages {
  background: no-repeat 10px 17px;
  /* LTR */
  border: 1px solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 15px 20px 15px 35px;
  /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 1em;
  box-shadow: none; }

.messages + .messages {
  margin-top: 1.538em; }

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.messages__item + .messages__item {
  margin-top: 0.769em; }

/* See .color-success in Seven's colors.css */
.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd;
  /* LTR */
  background-image: url(icons/73b355/check.svg); }

/* See .color-warning in Seven's colors.css */
.messages--warning {
  background-color: #fdf8ed;
  background-image: url(icons/e29700/warning.svg);
  border-color: #f4daa6;
  /* LTR */
  color: #734c00; }

/* See .color-error in Seven's colors.css */
.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(icons/ea2800/error.svg);
  border-color: #f9c9bf;
  /* LTR */ }

.messages--error p.error {
  color: #a51b00; }

.user-login-form .form-item-name > label,
.user-login-form .form-item-pass > label,
.user-register-form .form-item-name > label,
.user-register-form .form-item-mail > label,
.user-register-form .form-item-pass-pass1 > label,
.user-register-form .form-item-pass-pass2 > label,
.user-pass .form-item-name > label,
.user-pass .form-item-mail > label {
  display: block;
  margin-top: 1em; }

.user-login-form .description,
.user-register-form .description,
.user-pass p {
  color: #999; }

.user-login-form .form-item-name > input,
.user-login-form .form-item-pass > input,
.user-register-form .form-item-name > input,
.user-register-form .form-item-mail > input,
.user-register-form .form-item-pass-pass1 > input,
.user-register-form .form-item-pass-pass2 > input,
.user-pass .form-item-name > input,
.user-pass .form-item-mail > input {
  display: inline-block;
  width: 16em;
  font-size: 1.5em;
  padding: 0.2em; }

.password-strength {
  width: 16em; }

.user-login-form .form-actions > input,
.user-register-form .form-actions > input,
.user-pass .form-actions > input {
  width: 16em;
  font-size: 1.5em;
  padding: 0.2em; }

.user-login-form .form-actions > input[type='submit'],
.user-register-form .form-actions > input[type='submit'],
.user-pass .form-actions > input[type='submit'] {
  margin-top: 1em;
  cursor: pointer;
  padding: 1px 8px;
  margin-bottom: 1em;
  text-align: center;
  font-weight: normal;
  border: 1px solid #352c65;
  background: #483b89;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.user-login-form .form-actions > input[type='submit']:hover,
.user-register-form .form-actions > input[type='submit']:hover,
.user-pass .form-actions > input[type='submit']:hover {
  border: 1px solid #352c65;
  background: #483b89;
  color: #fff; }

.user-login-form .form-actions > input[type='submit']:active,
.user-register-form .form-actions > input[type='submit']:active,
.user-register-form .form-actions > input[type='submit']:active {
  border: 1px solid #352c65;
  background: #483b89;
  color: #fff; }

/* --------------- System Tabs  --------------- */
.tabs ul {
  margin-bottom: 1em; }

.tabs ul li a {
  color: #000;
  background-color: #ededed;
  border-color: #bbb;
  border-style: solid solid solid solid;
  border-width: 1px;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none; }

.tabs ul .is-active {
  background-color: #fff;
  border-bottom: 1px solid #fff; }

@media screen and (max-width: 37.5em) {
  /* 600px */
  .tabs ul {
    border-bottom: 1px solid #bbb; }
  .tabs ul li {
    display: block;
    margin: 0; }
  .tabs ul li a {
    padding: 5px 10px; }
  .tabs ul li.is-active a {
    border-bottom: none; } }

@media screen and (min-width: 37.5em) {
  /* 600px */
  .tabs ul {
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    padding: 0 3px;
    overflow: hidden;
    border: none;
    background: transparent url(images/tabs-border.png) repeat-x left bottom;
    white-space: nowrap; }
  .tabs ul li {
    display: block;
    float: left;
    /* LTR */
    vertical-align: bottom;
    margin: 0 5px 0 0;
    /* LTR */ }
  [dir="rtl"] .tabs ul.primary li {
    margin: 0 0 0 5px;
    float: right; }
  .tabs ul li a {
    float: left;
    /* not LTR */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .tabs ul li.is-active a {
    border-bottom: 1px solid #fff; } }

.pager {
  clear: both;
  margin-top: 2.5em; }

.pager__items {
  text-align: center; }

.pager__item {
  display: inline;
  padding: 0.5em; }

.pager__item.is-active {
  font-weight: bold; }

/*
    pesticide v0.1.0 . @mrmrs . MIT
*/
