h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $heading-font;
}

h1,
.h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1em;
    margin-bottom: 2rem;
    color: $primary;
    line-height: 1;
}

h2,
.h2 {
    font-size: 3em;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0.66em;
    padding-top: 0.66em;
    border-top: 2px dashed rgb(172, 32, 109);
    font-family: $heading-font;
    font-style: italic;
    color: rgb(172, 32, 109);
}

h3,
.h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h4,
.h4 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}