a {
    text-decoration: underline;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    color: $link-color;
}

a:link,
a:visited {
    color: $link-color;
}

a:hover {
    background-color: $link-color-hover;
    color: $white;
}

a:active {
    position: relative;
    top: 1px;
    left: 1px;
}

h1>a:link,
h2>a:link,
h3>a:link,
h4>a:link {
    text-decoration: none;
    color: inherit;
}

h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover {
    background-color: $link-color-hover;
    color: $white;
}